@page "/counter"

<PageTitle>Counter</PageTitle>

<form>
    <div class="form-group">
        <label for="first-number">First Number: </label>
        <input @bind="FirstNumber" type="number" class="form-control" id="first-number" aria-describedby="firstNumber" placeholder="Enter First Number">
    </div>
    <div class="form-group">
        <label for="second-number">Second Number: </label>
        <input @bind="SecondNumber" type="number" class="form-control" id="first-number" aria-describedby="secondNumber" placeholder="Enter Second Number">
    </div>

    <button @onclick="Add" type="button" class="btn btn-primary">Submit</button>

    <div class="form-group">
        <label for="result">Result : @Result </label>
    </div>
</form>

