@page "/"
@inject IDataHelper DataHelper
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>@DataHelper.GetData()</h1>

Welcome to your new app.

<br />

<button class="btn btn-primary" @onclick="NavigateToUsers">Open Users Page</button>

<button class="btn btn-outline-primary" @onclick="@(() => NavigationManager.NavigateTo("/users"))">Open Users Page</button>


@* <Users /> *@
@code {
    private void NavigateToUsers(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/users");
    }
}